/* 結構基本風格樣式表 */

body {
	font-size: 13px;
	font-family: arial, verdana, helvetica;
	color: #666;
	letter-spacing:0.1pt;
}


#wrapper {
	background: #fff ;
}
#header {
	   
}
#content {
	background: #fff ;
}
#search {
	
}

.eras {/* 搜尋產品區塊風格 */
    float: left;	
    width: 188px;
    font-size: 0.9em;
    padding: 5px;
    border: 1px solid #ddd;
	background: #fff ;
}
.eraslogin_style{/* 產品搜尋文字輸入欄-風格 */
  font-size: 12px; 
  width: 165px; 
  height: 20px; 
  border: 1px solid #CCCCCC;
  color: #6D7390;
  margin:5px;
  padding: 0px 0px 0px 2px;
  
}
.eraslogin_style-index{/* 產品搜尋文字輸入欄-風格 */
  background: #fff url(../image/part/gif_53.gif) top  left no-repeat ;
  width: 165px; 
  height: 15px; 
  border: 0px solid #CCCCCC;
  color: #6D7390;
  margin:5px;
  padding: 5px;

}

#secondary {/* 左選單 */
float: left;
width:200px;text-align:left;
}





#primary_left p{/* 三欄版型時套的內文標籤 */
font-size: 0.7em;
line-height : 2em;
color:#666;
	
}
.more{
	  width: 50px;  float: right; font-size: 0.8em;font-weight:bold;
}


#primary_right {
}


#footer {
background: #fff url(../image/part/footer.gif) top left repeat-x ; 
color: #999;

}


/* 搜尋條列排序-按鈕風格 */
.searchuno { 
background: url(../image/part/gif_57_049.gif) top left repeat-x ;
height: 20px;
width: 60px;
border: 0px;
color: #999;
}
/* 搜尋條列排序-按鈕底圖風格 */
.searchunosw { 
background: url(../image/part/botton_gif_021.jpg) top left repeat-x ;
height: 18px;
width: 32px;
border: 0px;
color: #999;
}



.login_style{/* 文字輸入欄-風格 */
  font-size: 12px; 
  width: 143px; 
  height: 20px; 
  border: 1px solid #CCCCCC;
  color: #646464;
  margin:10px;
}
.login_style-min{/* 文字輸入欄-風格 */
  font-size: 12px; 
  width: 70px; 
  height: 20px; 
  border: 1px solid #CCCCCC;
  color: #646464;
  margin:10px;
}
.Search-button {
	background: url(../image/part/Search-button.png) top left repeat;
	height: 20px;
	width: 87px;
	border: 0px;
	color: #333;
	padding: 5px 30px;
	margin-left:40px;
}
.Search-buttonall {/*長按鈕 */
	background: url(../image/part/Search-button.png) top left repeat;
	width: 87px;
	border: 0px;
	height:22px;
	padding: 3px 9px 0px 9px;
}
.Search-buttonall2 {/* 短按鈕 */
	background: url(../image/part/Search-button2.png) top left repeat;
	width: 40px;
	border: 0px;
	height:22px;
	padding: 3px 3px 0px 3px;
}
.Search-buttonall3 {/* 藍長按鈕 */
	background: url(../image/part/Search-button3.png) top left repeat;
	width: 87px;
	border: 1px solid #888;
	padding: 3px 1px 0px 17px;
	height:22px;
	color: #ffffff;
}
.Search-buttonall4 {/* 大按鈕 */
	background: url(../image/part/Search-button4.png) top left repeat;
	width: 142px;
	border: 0px;
	padding: 10px 9px 6px 9px;
	height:35px;
}
.Search-buttonall5 {/* 綠大按鈕 */
    font-weight:bold; 
    margin-left:10PX; 
    
	color:#FFF; 
	background-image:url(../image/part/1008-2.jpg) ; 
	border: solid #030 1px;
	width: 142px;
	padding: 10px 9px 6px 9px;
}
/* 標題字體風格 */
h1{
	font-size: 1.2em;
	font-weight:bold;
	line-height: 2em;
	
}
h2{
font-size: 0.9em;
color : #6D7390; /*文字色彩*/
}

h3{
font-size: 11px;
color : #666; /*文字色彩*/
}
h4{
font-size: 0.75em;
}
h5{
font-size: 0.7em;
color : #999; /*文字色彩*/
padding:5px 10px;
}
h6{
font-size: 0.65em;
color : #999; /*文字色彩*/
padding: 4px;
}

a:link { text-decoration:none;color:#6D7390;font-family: arial,verdana,  helvetica;}/*平常的狀態*/
a:visited {text-decoration:none;color:#6D7390;}/*訪問過後的狀態*/
a:ctive  { text-decoration: none; color:#999966;}/*按下後的狀態*/
a:hover { text-decoration: none; color:#999966;}/*滑鼠移到超連結上的狀態*/

.cond {
	clear: both;
}	    


.sx01 { /*詢價表單*/
	width: 198px;
	height: 32px;
	display:block;
	background-image: url(../image/part/searchpriceindex.gif);
	background-repeat: no-repeat;
	border: 1px  solid #ddd;
}

a.sx01:hover  { /*詢價表單*/
	width: 198px;
	height: 32px;
	display:block;
	background-image: url(../image/part/searchpriceindex-2.gif);
	background-repeat: no-repeat;
	border: 1px  solid #ddd;
}
.qx01 { /*詢價表單*/
	width: 198px;
	height: 32px;
	display:block;
	background-image: url(../image/part/qorderindex.gif);
	background-repeat: no-repeat;
	border: 1px  solid #ddd;
}
a.qx01:hover  { /*詢價表單*/
	width: 198px;
	height: 32px;
	display:block;
	background-image: url(../image/part/qorderindex-2.gif);
	background-repeat: no-repeat;
	border: 1px solid #ddd;
}
.rx01 { /*申請維修*/
	width: 198px;
	height: 32px;
	display:block;
	background-image: url(../image/part/repair.gif);
	background-repeat: no-repeat;
}
a.rx01:hover  { /*申請維修*/
	width: 198px;
	height: 32px;
	display:block;
	background-image: url(../image/part/repair-2.gif);
	background-repeat: no-repeat;
}

.outlet-clearing { /*暢貨區*/
  height: 20px;
  border-bottom: 1px dashed #ddd;
}
