/* 本樣式表為=產品分類樣式
-----------------------------------------------*/
.h01{/*標頭樣式*/ 
 color : #333; 
 background: #E4E4E4;
 padding: 4px 8px;
}
.p-2{/*首行空2格樣式*/
	text-indent: 2em;
}



.bottomline_BOTTOM {BORDER-BOTTOM: #c3c3c3 1px solid;}/* 只有底線*/

.bottomline_TOP {BORDER-TOP: #c3c3c3 1px solid;}/* 只有頂線*/

.bottomline_Trl { BORDER-TOP: #c3c3c3 1px solid;
                  BORDER-right: #c3c3c3 1px solid;
                  BORDER-left: #c3c3c3 1px solid;
			      }/* 缺底邊線*/				  
.bottomlinerlB {
                 BORDER-left: #c3c3c3 1px solid;
			     BORDER-right: #c3c3c3 1px solid;
                 BORDER-BOTTOM: #c3c3c3 1px solid;		  
			     }/* 缺頂邊線*/ 
.bottomlinerlB_Black {
                 BORDER-left: #ddd 1px solid;
			     BORDER-right: #ddd 1px solid;
                 BORDER-BOTTOM: #ddd 1px solid;		  
			     }/* 缺頂邊線*/ 
				 
.bottomlineTrlB {BORDER-TOP: #c3c3c3 1px solid;
                 BORDER-left: #c3c3c3 1px solid;
			     BORDER-right: #c3c3c3 1px solid;
                 BORDER-BOTTOM: #c3c3c3 1px solid;		  
			     }/* 四周有邊線*/
.bottomlineTrlB_Black {BORDER-TOP: #ddd 1px solid;
                 BORDER-left: #ddd 1px solid;
			     BORDER-right: #ddd 1px solid;
                 BORDER-BOTTOM: #ddd 1px solid;		  
			     }/* 四周有邊線*/
			  
.bottomline_backgroundF8 {background-color: #f5f3f1;}/* 加背景色*/  
.bottomline_backgroundE {background-color: #f5f3f1;}/* 加背景色*/  






.bottomline_padding{
	padding:5px 10px 5px 10px;
}/* 加內距*/	  
.bottomline_padding_min{
			  padding:3px 3px 3px 3px;
			  }/* 加內距*/				  
.bottomline_h1 {background:  url(../image/part/544efde.gif) top left repeat-x ; 
			    color: #333;}/* 帶背景標題*/
			  

.products-t {display: block;}
TBODY TR TD a:visited {
	text-decoration:none;
	color:#6D7390;
	
}

TBODY TR TD a:hover { text-decoration:underline; color:#999966;}

TBODY TR TD a:link { text-decoration:none; color:#6D7390;}





.bottomline {BORDER-BOTTOM: #c3c3c3 1px solid;}
.bottomline2 {BORDER-TOP: #c3c3c3 1px solid;
BORDER-left: #c3c3c3 1px solid;BORDER-right: #c3c3c3 1px solid;
              BORDER-BOTTOM: #c3c3c3 1px solid;}
.bottomline3 {BORDER-TOP: #c3c3c3 1px solid;
BORDER-right: #c3c3c3 1px solid;
BORDER-left: #c3c3c3 1px solid;
              }
.sbox td {  
           border-bottom: 1px solid #EEE;   
		   background-color: #ECF2F2; 
           padding:10px 5px 5px 10px;
           line-height : 200%;}
.solbb td {
           padding: 5px 0px 5px 0px;
		   background:#FFFFFF ;
		  
}
.solbb a{
     border-bottom: 3px solid  #ECECEE;
     background: #FFF  left center no-repeat;
	 padding: 5px 0px 5px 0px;
     color: #252f47; /* 指定文字顏色 */
	 display: block; /* 設定為以區塊方式顯示 */
	 width: 100% !important; /* 為了要讓頁面在Windows Internet Explorer上也能正常顯示，需指定區塊寬度 */
	 width /**/: 100%; /* 指定 Windows Internet Explorer 5 所用的設定值 */
	  text-decoration:none;
}
.solbb a:hover {
     border-toP: 1px solid  #ff9900;
     border-bottom: 1px solid  #ff9900;
	 padding: 5px 0px 5px 0px;
	 background-color: #ECF2F2; 
     color: #333; /* 指定文字顏色 */
	 display: block; /* 設定為以區塊方式顯示 */
	 width: 100% !important; /* 為了要讓頁面在Windows Internet Explorer上也能正常顯示，需指定區塊寬度 */
	 width /**/: 100%; /* 指定 Windows Internet Explorer 5 所用的設定值 */
	  text-decoration:none;
}
.solbb a:link { text-decoration:none; }
.STYLE1 {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}
